.fmenu{
	background-color: #1D0048;
}
.frosa{
	background-image: url('../img/fondo.jpg');
}
h1{
	color: white;
	padding-bottom: 3%;
}
a{
	color: #bd538d;
}
.nosotras{
	width: 100%;
}
.pd{
	padding-right: 5%;
	padding-left: 5%;
}
.pdgde{
	padding-bottom: 7%;
	padding-top: 7%;
}
.mrg{
	margin-bottom: 3%;
}
.texto{
	font-size: 15px;
	color: white;
}
hr{
	color: white;
	width: 100%;
}
h2{
	color: white;
	font-size: 20px;
}
.flila{
	background-color: #BD538D;
}
.txnegro{
	color: black;
}
.chhr{
	width: 15%;
	border: solid 2px;
	color: white;
}
.azulhr{
	color: #00C0E0;
}